setup: &setup
  adapter: postgresql
  host: localhost
  username: postgres
  password:
  pool: 5
  encoding: unicode

development:
  database: ultimate-test-app_development
  <<: *setup

test:
  database: ultimate-test-app_test
  <<: *setup

production:
  database: ultimate-test-app_production
  <<: *setup
