@import "import/base";

$images-path: "layout";

@mixin _lang($lang) {
  &.#{$lang} {
    background-image: image_url("#{$images-path}/lang_#{$lang}.png");
  }
}

.l-page {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .l-page__center {
    @include l-page__center;
  }

  @import "layout/flashes";
  @import "layout/header";

  > .l-page__content {

  }

  @import "layout/footer";

}

@include sticky-footer(37px);
